
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* THIS FILE IS TO BE DELETED *@
<div class="">
    <center><h1>VAPESTER INVENTORY SYSTEM</h1></center>

    <div class="row">
        
    </div>
</div>

