
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/scripts/GoogleChartScript.js"></script>

<div class="container-fluid">
    <center><h1 class="display-4">VAPESTER INVENTORY SYSTEM</h1></center>

    <div class="row">
        <div class="col-3" id="monthlychart" style="width: 900px; height: 500px;"></div>
        <div class="col-6" id="yearlychart" style="width: 900px; height: 500px;"></div>
        <div class="col-3" id="quarterlychart" style="width: 900px; height: 500px;"></div>
    </div>

    <div class="row">
        <div class="col-6" id="performance_chart" style="width: 400px; height: 300px;"></div>
        <div class="col-6">
            <table border="1" style="width:100%;">
                <tr>
                    <th colspan="3"><center>Order History</center></th>
                </tr>
                <tr>
                    <th><center>Order no.</center></th>
                    <th><center>Product name</center></th>
                    <th><center>Price</center></th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div>

@*<div id="monthlychart" style="width: 900px; height: 500px;"></div>
    <div id="quarterlychart" style="width: 900px; height: 500px;"></div>
    <div id="yearlychart" style="width: 900px; height: 500px;"></div>*@
