<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://kit.fontawesome.com/a7e3800dc5.js" crossorigin="anonymous"></script>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
