
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Account/_LayoutPage1.cshtml";
}

<div class="error">
   Wrong username or password? &nbsp;&nbsp;@Html.ActionLink("Back to Login", "Login", "Account")
</div>

